<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">User Admin</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link active"%> 
        </li>
        <li class="nav-item">
          <%= link_to "Users", users_path, class: "nav-link"%>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Acount <%= current_user.email %>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to "Edit", edit_user_registration_path, class: "dropdown-item"%>
              <%= link_to "Sign Out", destroy_user_session_path, method: :delete , class: "dropdown-item"%>
            </ul>
          </li>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, class: "nav-item nav-link"%>
          <%= link_to "Login", new_user_session_path, class: "nav-item nav-link"%>
        <% end%>
      </ul>
    </div>
  </div>
</nav>